$font-family-standart: 'Verdana', 'Helvetica', 'Arial', sans-serif;
$font-family-GothamMedium: 'GothamMedium', 'Helvetica', 'Arial', sans-serif;
$font-family-GothamBook: 'GothamBook', 'Helvetica', 'Arial', sans-serif;

$main-color-red: #FB6C72;
$main-color-blue: #88E5F5;